In [1]:
import pandas as pd
import numpy as np

In [2]:
projects = pd.read_csv("kickstarter.csv")

In [3]:
projects.head(2)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00

In [4]:
projects.replace(',', '-', regex=True)
columns=['name','deadline','launched','ID','usd pledged','goal','pledged','category','currency']
projects.drop(columns, inplace=True, axis=1)
#projects.category = pd.Categorical(projects.category)
#projects.main_category = pd.Categorical(projects.main_category)
#projects['category'] = projects['category'].astype('category').cat.codes
projects['main_category'] = projects['main_category'].astype('category').cat.codes
#projects['currency'] = projects['currency'].astype('category').cat.codes
projects['state'] = projects['state'].astype('category').cat.codes
projects['country'] = projects['country'].astype('category').cat.codes
projects.replace([np.inf, -np.inf], np.nan, inplace=True)
projects.fillna(999, inplace=True)
y = projects['state'].values

X = projects
projects.head(5)

   main_category  state  backers  country  usd_pledged_real  usd_goal_real
0             12      1        0        9               0.0        1533.95
1              6      1       15       22            2421.0       30000.00
2              6      1        3       22             220.0       45000.00
3             10      1        1       22               1.0        5000.00
4              6      0       14       22            1283.0       19500.00

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [13]:
# Neural net
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(activation='relu', solver='adam', max_iter=500)
mlp.fit(X_train,y_train)
predict_test = mlp.predict(X_test)
mlp.score(X_test, y_test)

0.9533096536516446

In [14]:
# KNN
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, train_size=0.8, random_state=42, stratify=y)
from sklearn.neighbors import KNeighborsClassifier
knn= KNeighborsClassifier(n_neighbors=10)
knn.fit(X_train, y_train)
predicted = knn.predict(X_test)
knn.score(X_test, y_test)

0.8913023384786024

In [ ]:
#